@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>Data from API:</p>

    @foreach (string item in Model.DataFromApi)
    {
        <p>@item</p><br />
    }
</div>
